In [1]:
import pandas as pd

In [2]:
order_dt = pd.read_csv("raw data/orders.csv")
order_dt.head(10)

,order_id,customer_id,order_date,city,order_status,payment_method,order_value
0,ORD1001,CUST201,05-01-2024,bangalore,completed,UPI,645.0
1,ORD1002,CUST202,2024/01/05,Mumbai,Cancel,credit card,430.0
2,ORD1003,CUST203,06-01-24,DELHI,Completed,CASH,NaN
3,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.0
4,ORD1005,CUST205,07-01-2024,Bangalore,CANCELLED,DebitCard,310.0
5,ORD1006,CUST206,2024-01-07,Pune,Completed,UPI,760.0
6,ORD1007,CUST207,08-01-2024,mumbai,Completed,Credit Card,890.0
7,ORD1008,CUST208,2024-01-08,NaN,cancel,upi,450.0
8,ORD1009,CUST209,09-01-2024,Hyderabad,Completed,Cash,670.0
9,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,NaN

In [3]:
order_dt.dtypes

order_id           object
customer_id        object
order_date         object
city               object
order_status       object
payment_method     object
order_value       float64
dtype: object

In [4]:
order_dt.head(10)

,order_id,customer_id,order_date,city,order_status,payment_method,order_value
0,ORD1001,CUST201,05-01-2024,bangalore,completed,UPI,645.0
1,ORD1002,CUST202,2024/01/05,Mumbai,Cancel,credit card,430.0
2,ORD1003,CUST203,06-01-24,DELHI,Completed,CASH,NaN
3,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.0
4,ORD1005,CUST205,07-01-2024,Bangalore,CANCELLED,DebitCard,310.0
5,ORD1006,CUST206,2024-01-07,Pune,Completed,UPI,760.0
6,ORD1007,CUST207,08-01-2024,mumbai,Completed,Credit Card,890.0
7,ORD1008,CUST208,2024-01-08,NaN,cancel,upi,450.0
8,ORD1009,CUST209,09-01-2024,Hyderabad,Completed,Cash,670.0
9,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,NaN

In [5]:
formats = (
    '%d-%m-%Y', '%d-%m-%y',
    '%Y-%m-%d', '%Y/%m/%d',
    '%d/%m/%Y'
)

def parse_date_safe(x):
    if pd.isna(x):
        return pd.NaT
    x = str(x)
    for f in formats:
        try:
            return pd.to_datetime(x, format=f)
        except ValueError:
            continue
    return pd.NaT

order_dt['order_date'] = order_dt['order_date'].apply(parse_date_safe)

In [6]:
order_dt['order_date'] = order_dt['order_date'].dt.normalize()

In [7]:
order_dt.head(10)

,order_id,customer_id,order_date,city,order_status,payment_method,order_value
0,ORD1001,CUST201,2024-01-05,bangalore,completed,UPI,645.0
1,ORD1002,CUST202,2024-01-05,Mumbai,Cancel,credit card,430.0
2,ORD1003,CUST203,2024-01-06,DELHI,Completed,CASH,NaN
3,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.0
4,ORD1005,CUST205,2024-01-07,Bangalore,CANCELLED,DebitCard,310.0
5,ORD1006,CUST206,2024-01-07,Pune,Completed,UPI,760.0
6,ORD1007,CUST207,2024-01-08,mumbai,Completed,Credit Card,890.0
7,ORD1008,CUST208,2024-01-08,NaN,cancel,upi,450.0
8,ORD1009,CUST209,2024-01-09,Hyderabad,Completed,Cash,670.0
9,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,NaN

In [8]:
order_dt.dtypes

order_id                  object
customer_id               object
order_date        datetime64[ns]
city                      object
order_status              object
payment_method            object
order_value              float64
dtype: object

In [9]:
order_dt.isna().sum()

order_id          0
customer_id       0
order_date        0
city              1
order_status      0
payment_method    0
order_value       4
dtype: int64

In [10]:
order_dt['city'].fillna('None',inplace=True)

C:\Users\Mahendra Jain\AppData\Local\Temp\ipykernel_18280\2160214769.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  order_dt['city'].fillna('None',inplace=True)

In [11]:
order_dt.isna().sum()

order_id          0
customer_id       0
order_date        0
city              0
order_status      0
payment_method    0
order_value       4
dtype: int64

In [12]:
order_dt[order_dt['order_value'].isna()]

,order_id,customer_id,order_date,city,order_status,payment_method,order_value
2,ORD1003,CUST203,2024-01-06,DELHI,Completed,CASH,NaN
9,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,NaN
14,ORD1015,CUST215,2024-01-12,Bangalore,Cancel,Debit Card,NaN
28,ORD1029,CUST229,2024-01-19,Hyderabad,Completed,Cash,NaN

In [13]:
order_dt['order_value'].fillna(round(order_dt['order_value'].mean(),2),inplace=True)

C:\Users\Mahendra Jain\AppData\Local\Temp\ipykernel_18280\3562052144.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  order_dt['order_value'].fillna(round(order_dt['order_value'].mean(),2),inplace=True)

In [14]:
order_dt.iloc[[2,9,14,28]]

,order_id,customer_id,order_date,city,order_status,payment_method,order_value
2,ORD1003,CUST203,2024-01-06,DELHI,Completed,CASH,621.73
9,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,621.73
14,ORD1015,CUST215,2024-01-12,Bangalore,Cancel,Debit Card,621.73
28,ORD1029,CUST229,2024-01-19,Hyderabad,Completed,Cash,621.73

In [15]:
order_dt.isna().sum()

order_id          0
customer_id       0
order_date        0
city              0
order_status      0
payment_method    0
order_value       0
dtype: int64

In [16]:
order_dt['city']= order_dt['city'].str.title()

In [17]:
order_dt['order_status']= order_dt['order_status'].str.title()

In [18]:
order_dt['payment_method']= order_dt['payment_method'].str.title()

In [19]:
order_dt['payment_method'] = order_dt['payment_method'].str.replace('Upi','UPI')

In [20]:
order_dt

,order_id,customer_id,order_date,city,order_status,payment_method,order_value
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00
1,ORD1002,CUST202,2024-01-05,Mumbai,Cancel,Credit Card,430.00
2,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73
3,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00
4,ORD1005,CUST205,2024-01-07,Bangalore,Cancelled,Debitcard,310.00
5,ORD1006,CUST206,2024-01-07,Pune,Completed,UPI,760.00
6,ORD1007,CUST207,2024-01-08,Mumbai,Completed,Credit Card,890.00
7,ORD1008,CUST208,2024-01-08,None,Cancel,UPI,450.00
8,ORD1009,CUST209,2024-01-09,Hyderabad,Completed,Cash,670.00
9,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,621.73
10,ORD1011,CUST211,2024-01-10,Bangalore,Completed,UPI,720.00
11,ORD1012,CUST212,2024-01-10,Mumbai,Cancelled,Creditcard,560.00
12,ORD1013,CUST213,2024-01-11,Delhi,Completed,Cash,890.00
13,ORD1014,CUST214,2024-01-11,Hyderabad,Complete,UPI,430.00
14,ORD1015,CUST215,2024-01-12,Bangalore,Cancel,Debit Card,621.73
15,ORD1016,CUST216,2024-01-12,Pune,Completed,UPI,610.00
16,ORD1017,CUST217,2024-01-13,Mumbai,Completed,Credit Card,980.00
17,ORD1018,CUST218,2024-01-13,Delhi,Cancelled,UPI,350.00
18,ORD1019,CUST219,2024-01-14,Hyderabad,Completed,Cash,770.00
19,ORD1020,CUST220,2024-01-14,Pune,Completed,Debitcard,690.00
20,ORD1021,CUST221,2024-01-15,Bangalore,Completed,UPI,540.00
21,ORD1022,CUST222,2024-01-15,Mumbai,Cancel,UPI,410.00
22,ORD1023,CUST223,2024-01-16,Delhi,Completed,Cash,860.00
23,ORD1024,CUST224,2024-01-16,Hyderabad,Completed,UPI,590.00
24,ORD1025,CUST225,2024-01-17,Bangalore,Cancelled,Credit Card,300.00
25,ORD1026,CUST226,2024-01-17,Pune,Completed,Debit Card,740.00
26,ORD1027,CUST227,2024-01-18,Mumbai,Completed,Cash,920.00
27,ORD1028,CUST228,2024-01-18,Delhi,Cancelled,UPI,480.00
28,ORD1029,CUST229,2024-01-19,Hyderabad,Completed,Cash,621.73
29,ORD1030,CUST230,2024-01-19,Pune,Completed,UPI,650.00

In [ ]:
order_dt.to_csv('cleaned data/order.csv',index=False)

order table is clened moving forward with cleaning the order_items table

In [22]:
order_items_dt = pd.read_csv("raw data/order_items.csv")
order_items_dt.head(10)

  order_id product_id quantity  selling_price    mrp
0  ORD1001     PROD01        2          120.0  140.0
1  ORD1001     PROD02        1          180.0  200.0
2  ORD1002     PROD03    three           90.0  100.0
3  ORD1003     PROD04        2          250.0  280.0
4  ORD1004     PROD01        1          120.0  140.0
5  ORD1005     PROD05        2           70.0   80.0
6  ORD1006     PROD06        1          300.0  330.0
7  ORD1007     PROD02        2          180.0  200.0
8  ORD1008     PROD03       -1           90.0  100.0
9  ORD1009     PROD04        1            NaN  280.0

In [23]:
order_items_dt.isna().sum()

order_id         0
product_id       0
quantity         0
selling_price    2
mrp              1
dtype: int64

In [24]:
order_items_dt.dtypes

order_id          object
product_id        object
quantity          object
selling_price    float64
mrp              float64
dtype: object

In [25]:
order_items_dt[order_items_dt['quantity'].str.len() >=3]

   order_id product_id quantity  selling_price    mrp
2   ORD1002     PROD03    three           90.0  100.0
12  ORD1013     PROD04      two          250.0  280.0
21  ORD1022     PROD03    three           90.0  100.0

In [26]:
order_items_dt['quantity'] = order_items_dt['quantity'].str.replace('three','3').str.replace('two','2').str.replace('-','')

In [27]:
order_items_dt

   order_id product_id quantity  selling_price    mrp
0   ORD1001     PROD01        2          120.0  140.0
1   ORD1001     PROD02        1          180.0  200.0
2   ORD1002     PROD03        3           90.0  100.0
3   ORD1003     PROD04        2          250.0  280.0
4   ORD1004     PROD01        1          120.0  140.0
5   ORD1005     PROD05        2           70.0   80.0
6   ORD1006     PROD06        1          300.0  330.0
7   ORD1007     PROD02        2          180.0  200.0
8   ORD1008     PROD03        1           90.0  100.0
9   ORD1009     PROD04        1            NaN  280.0
10  ORD1011     PROD01        1          120.0  140.0
11  ORD1012     PROD03        2           90.0  100.0
12  ORD1013     PROD04        2          250.0  280.0
13  ORD1014     PROD02        1          180.0  200.0
14  ORD1015     PROD05        2           70.0   80.0
15  ORD1016     PROD06        1          300.0  330.0
16  ORD1017     PROD02        2          180.0  200.0
17  ORD1018     PROD03        1            NaN  100.0
18  ORD1019     PROD04        1          250.0  280.0
19  ORD1020     PROD01        3          120.0  140.0
20  ORD1021     PROD05        2           70.0   80.0
21  ORD1022     PROD03        3           90.0  100.0
22  ORD1023     PROD06        1          300.0  330.0
23  ORD1024     PROD02        2          180.0  200.0
24  ORD1025     PROD01        1          120.0  140.0
25  ORD1026     PROD04        1          250.0  280.0
26  ORD1027     PROD03        2           90.0  100.0
27  ORD1028     PROD05        1           70.0    NaN
28  ORD1029     PROD06        1          300.0  330.0
29  ORD1030     PROD02        1          180.0  200.0

In [28]:
order_items_dt['quantity']= pd.to_numeric(order_items_dt['quantity'])

In [29]:
order_items_dt.dtypes

order_id          object
product_id        object
quantity           int64
selling_price    float64
mrp              float64
dtype: object

In [30]:
order_items_dt.isna().sum()

order_id         0
product_id       0
quantity         0
selling_price    2
mrp              1
dtype: int64

In [31]:
order_items_dt = order_items_dt.fillna(round(order_items_dt['selling_price'].mean(),2)).fillna(round(order_items_dt['mrp'].mean(),2))

In [32]:
order_items_dt

   order_id product_id  quantity  selling_price     mrp
0   ORD1001     PROD01         2         120.00  140.00
1   ORD1001     PROD02         1         180.00  200.00
2   ORD1002     PROD03         3          90.00  100.00
3   ORD1003     PROD04         2         250.00  280.00
4   ORD1004     PROD01         1         120.00  140.00
5   ORD1005     PROD05         2          70.00   80.00
6   ORD1006     PROD06         1         300.00  330.00
7   ORD1007     PROD02         2         180.00  200.00
8   ORD1008     PROD03         1          90.00  100.00
9   ORD1009     PROD04         1         164.64  280.00
10  ORD1011     PROD01         1         120.00  140.00
11  ORD1012     PROD03         2          90.00  100.00
12  ORD1013     PROD04         2         250.00  280.00
13  ORD1014     PROD02         1         180.00  200.00
14  ORD1015     PROD05         2          70.00   80.00
15  ORD1016     PROD06         1         300.00  330.00
16  ORD1017     PROD02         2         180.00  200.00
17  ORD1018     PROD03         1         164.64  100.00
18  ORD1019     PROD04         1         250.00  280.00
19  ORD1020     PROD01         3         120.00  140.00
20  ORD1021     PROD05         2          70.00   80.00
21  ORD1022     PROD03         3          90.00  100.00
22  ORD1023     PROD06         1         300.00  330.00
23  ORD1024     PROD02         2         180.00  200.00
24  ORD1025     PROD01         1         120.00  140.00
25  ORD1026     PROD04         1         250.00  280.00
26  ORD1027     PROD03         2          90.00  100.00
27  ORD1028     PROD05         1          70.00  164.64
28  ORD1029     PROD06         1         300.00  330.00
29  ORD1030     PROD02         1         180.00  200.00

In [33]:
# order_items_dt.to_csv("cleaned data/order_items.csv",index=False)

order_items table is cleaned moving forward to the delivery_perfomance table

In [34]:
del_per_dt = pd.read_csv("raw data/delivery_performance.csv")
del_per_dt.head(10)

  order_id  promised_time_mins actual_time_mins  delivery_partner_rating
0  ORD1001                  30               28                      5.0
1  ORD1002                  25               40                      2.0
2  ORD1003                  30       thirty two                      4.0
3  ORD1004                  20               18                      5.0
4  ORD1005                  25               45                      1.0
5  ORD1006                  30               29                      4.0
6  ORD1007                  35               38                      NaN
7  ORD1008                  20               42                      2.0
8  ORD1009                  25               24                      5.0
9  ORD1010                  30               27                      4.0

In [35]:
from word2number import w2n

def quantity_to_number(x):
    try:
        return int(x)
    except:
        try:
            return w2n.word_to_num(str(x).lower())
        except:
            return None

del_per_dt['actual_time_mins'] = del_per_dt['actual_time_mins'].apply(quantity_to_number)

In [36]:
del_per_dt.dtypes

order_id                    object
promised_time_mins           int64
actual_time_mins           float64
delivery_partner_rating    float64
dtype: object

In [37]:
del_per_dt['actual_time_mins'] = pd.to_numeric(del_per_dt['actual_time_mins'])

In [38]:
del_per_dt['actual_time_mins']= del_per_dt['actual_time_mins'].fillna(round(del_per_dt['actual_time_mins'].mean()))

In [39]:
del_per_dt['actual_time_mins'] = pd.to_numeric(del_per_dt['actual_time_mins']).astype('Int32')

In [40]:
del_per_dt.dtypes

order_id                    object
promised_time_mins           int64
actual_time_mins             Int32
delivery_partner_rating    float64
dtype: object

In [41]:
del_per_dt.isna().sum()

order_id                   0
promised_time_mins         0
actual_time_mins           0
delivery_partner_rating    2
dtype: int64

In [42]:
del_per_dt['delivery_partner_rating'] = del_per_dt['delivery_partner_rating'].fillna(round(del_per_dt['delivery_partner_rating'].mean(),1))

In [43]:
del_per_dt.isna().sum()

order_id                   0
promised_time_mins         0
actual_time_mins           0
delivery_partner_rating    0
dtype: int64

In [44]:
# del_per_dt.to_csv("cleaned data/delivery_performance.csv",index=False)

delivery_performance table is cleaned, moving forward to customer table

In [45]:
customers_dt = pd.read_csv("raw data/customers.csv")
customers_dt

   customer_id signup_date       city customer_type
0      CUST201  12-08-2023  bangalore     returning
1      CUST202  02/01/2024     Mumbai           NEW
2      CUST203    18-10-23      DELHI     Returning
3      CUST204  25-11-2023  Hyderabad     returning
4      CUST205  04-01-2024  Bangalore           new
5      CUST206  30-09-2023       Pune     Returning
6      CUST207  15-12-2023     mumbai     Returning
7      CUST208  01-01-2024      Delhi           new
8      CUST209  20-07-2023  Hyderabad     Returning
9      CUST210         NaN       Pune     Returning
10     CUST211  10-01-2024  bangalore           New
11     CUST212  09/01/2024     Mumbai     returning
12     CUST213    11-01-24      DELHI     Returning
13     CUST214  2024-01-11  Hyderabad     returning
14     CUST215         NaN  Bangalore           NEW
15     CUST216  2023-12-01       Pune     Returning
16     CUST217  2024-01-13     mumbai     Returning
17     CUST218    13-01-24      Delhi           new
18     CUST219  2023-11-20  Hyderabad     Returning
19     CUST220  2023-10-15       Pune     Returning
20     CUST221  2024-01-15  Bangalore           New
21     CUST222  15/01/2024     Mumbai           New
22     CUST223    16-01-24      Delhi     Returning
23     CUST224  2024-01-16  Hyderabad     Returning
24     CUST225  17-01-2024  Bangalore           new
25     CUST226  2023-09-10       Pune     Returning
26     CUST227    18-01-24     Mumbai     Returning
27     CUST228  2024-01-18      Delhi           New
28     CUST229         NaN  Hyderabad     Returning
29     CUST230  2023-08-05       Pune     Returning

In [46]:
formats = (
    '%d-%m-%Y', '%d-%m-%y',
    '%Y-%m-%d', '%Y/%m/%d',
    '%d/%m/%Y'
)

def parse_date_safe(x):
    if pd.isna(x):
        return pd.NaT
    x = str(x)
    for f in formats:
        try:
            return pd.to_datetime(x, format=f)
        except ValueError:
            continue
    return pd.NaT

customers_dt['signup_date'] = customers_dt['signup_date'].apply(parse_date_safe)

In [47]:
customers_dt

   customer_id signup_date       city customer_type
0      CUST201  2023-08-12  bangalore     returning
1      CUST202  2024-01-02     Mumbai           NEW
2      CUST203  2023-10-18      DELHI     Returning
3      CUST204  2023-11-25  Hyderabad     returning
4      CUST205  2024-01-04  Bangalore           new
5      CUST206  2023-09-30       Pune     Returning
6      CUST207  2023-12-15     mumbai     Returning
7      CUST208  2024-01-01      Delhi           new
8      CUST209  2023-07-20  Hyderabad     Returning
9      CUST210         NaT       Pune     Returning
10     CUST211  2024-01-10  bangalore           New
11     CUST212  2024-01-09     Mumbai     returning
12     CUST213  2024-01-11      DELHI     Returning
13     CUST214  2024-01-11  Hyderabad     returning
14     CUST215         NaT  Bangalore           NEW
15     CUST216  2023-12-01       Pune     Returning
16     CUST217  2024-01-13     mumbai     Returning
17     CUST218  2024-01-13      Delhi           new
18     CUST219  2023-11-20  Hyderabad     Returning
19     CUST220  2023-10-15       Pune     Returning
20     CUST221  2024-01-15  Bangalore           New
21     CUST222  2024-01-15     Mumbai           New
22     CUST223  2024-01-16      Delhi     Returning
23     CUST224  2024-01-16  Hyderabad     Returning
24     CUST225  2024-01-17  Bangalore           new
25     CUST226  2023-09-10       Pune     Returning
26     CUST227  2024-01-18     Mumbai     Returning
27     CUST228  2024-01-18      Delhi           New
28     CUST229         NaT  Hyderabad     Returning
29     CUST230  2023-08-05       Pune     Returning

In [48]:
customers_dt = customers_dt.dropna(subset='signup_date')

In [49]:
customers_dt['city'] = customers_dt['city'].str.title()

C:\Users\Mahendra Jain\AppData\Local\Temp\ipykernel_18280\2932551876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_dt['city'] = customers_dt['city'].str.title()

In [50]:
customers_dt['customer_type'] =customers_dt['customer_type'].str.title()

C:\Users\Mahendra Jain\AppData\Local\Temp\ipykernel_18280\643037908.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_dt['customer_type'] =customers_dt['customer_type'].str.title()

In [51]:
customers_dt

   customer_id signup_date       city customer_type
0      CUST201  2023-08-12  Bangalore     Returning
1      CUST202  2024-01-02     Mumbai           New
2      CUST203  2023-10-18      Delhi     Returning
3      CUST204  2023-11-25  Hyderabad     Returning
4      CUST205  2024-01-04  Bangalore           New
5      CUST206  2023-09-30       Pune     Returning
6      CUST207  2023-12-15     Mumbai     Returning
7      CUST208  2024-01-01      Delhi           New
8      CUST209  2023-07-20  Hyderabad     Returning
10     CUST211  2024-01-10  Bangalore           New
11     CUST212  2024-01-09     Mumbai     Returning
12     CUST213  2024-01-11      Delhi     Returning
13     CUST214  2024-01-11  Hyderabad     Returning
15     CUST216  2023-12-01       Pune     Returning
16     CUST217  2024-01-13     Mumbai     Returning
17     CUST218  2024-01-13      Delhi           New
18     CUST219  2023-11-20  Hyderabad     Returning
19     CUST220  2023-10-15       Pune     Returning
20     CUST221  2024-01-15  Bangalore           New
21     CUST222  2024-01-15     Mumbai           New
22     CUST223  2024-01-16      Delhi     Returning
23     CUST224  2024-01-16  Hyderabad     Returning
24     CUST225  2024-01-17  Bangalore           New
25     CUST226  2023-09-10       Pune     Returning
26     CUST227  2024-01-18     Mumbai     Returning
27     CUST228  2024-01-18      Delhi           New
29     CUST230  2023-08-05       Pune     Returning

In [52]:
# customers_dt.to_csv('cleaned data/customers.csv',index=False)

customers data is cleaned, moving formward to cusomter_feedback table

In [53]:
cust_fb_dt = pd.read_csv("raw data/customer_feedback.csv")
cust_fb_dt.head(10)

  order_id rating                  feedback_text
0  ORD1001      5  Quick delivery & good quality
1  ORD1002      2       delivery was TOO late!!!
2  ORD1003   four            Slight delay but ok
3  ORD1004      5              Excellent service
4  ORD1005      1         cancelled bcz of delay
5  ORD1006      4                good experience
6  ORD1007      3       Delivery could be faster
7  ORD1008      2       Poor delivery experience
8  ORD1009      5               Very satisfied
9  ORD1010    NaN           Good overall service

In [54]:
cust_fb_dt.isna().sum()

order_id         0
rating           3
feedback_text    0
dtype: int64

In [55]:
cust_fb_dt['rating']=cust_fb_dt['rating'].str.replace('four','4').str.replace('five','5')

In [56]:
cust_fb_dt['rating'] = pd.to_numeric(cust_fb_dt['rating']).astype(float)

In [57]:
cust_fb_dt.dtypes

order_id          object
rating           float64
feedback_text     object
dtype: object

In [58]:
cust_fb_dt['rating'] = cust_fb_dt['rating'].fillna(round(cust_fb_dt['rating'].mean(),1))

In [59]:
cust_fb_dt

   order_id  rating                  feedback_text
0   ORD1001     5.0  Quick delivery & good quality
1   ORD1002     2.0       delivery was TOO late!!!
2   ORD1003     4.0            Slight delay but ok
3   ORD1004     5.0              Excellent service
4   ORD1005     1.0         cancelled bcz of delay
5   ORD1006     4.0                good experience
6   ORD1007     3.0       Delivery could be faster
7   ORD1008     2.0       Poor delivery experience
8   ORD1009     5.0               Very satisfied
9   ORD1010     3.4           Good overall service
10  ORD1011     4.0                  Good delivery
11  ORD1012     2.0             very late delivery
12  ORD1013     5.0              Loved the service
13  ORD1014     4.0                        On time
14  ORD1015     1.0                order cancelled
15  ORD1016     5.0                    Excellent
16  ORD1017     3.4                  delivery slow
17  ORD1018     2.0                poor experience
18  ORD1019     4.0                   satisfactory
19  ORD1020     3.0                   okay service
20  ORD1021     5.0             Very fast delivery
21  ORD1022     2.0           delivery delay again
22  ORD1023     4.0                         decent
23  ORD1024     5.0                  great service
24  ORD1025     1.0                cancelled again
25  ORD1026     4.0                           good
26  ORD1027     3.0                        average
27  ORD1028     2.0                   bad delivery
28  ORD1029     3.4                    no comments
29  ORD1030     4.0                   good overall

In [60]:
def rating_category(rating):
    if rating < 3:
        return 'Not Good'
    elif  rating < 4:
        return 'Good'
    else:
        return 'Very Good'
    
cust_fb_dt['rating_category'] = cust_fb_dt['rating'].apply(rating_category)

In [61]:
cust_fb_dt

   order_id  rating                  feedback_text rating_category
0   ORD1001     5.0  Quick delivery & good quality       Very Good
1   ORD1002     2.0       delivery was TOO late!!!        Not Good
2   ORD1003     4.0            Slight delay but ok       Very Good
3   ORD1004     5.0              Excellent service       Very Good
4   ORD1005     1.0         cancelled bcz of delay        Not Good
5   ORD1006     4.0                good experience       Very Good
6   ORD1007     3.0       Delivery could be faster            Good
7   ORD1008     2.0       Poor delivery experience        Not Good
8   ORD1009     5.0               Very satisfied        Very Good
9   ORD1010     3.4           Good overall service            Good
10  ORD1011     4.0                  Good delivery       Very Good
11  ORD1012     2.0             very late delivery        Not Good
12  ORD1013     5.0              Loved the service       Very Good
13  ORD1014     4.0                        On time       Very Good
14  ORD1015     1.0                order cancelled        Not Good
15  ORD1016     5.0                    Excellent        Very Good
16  ORD1017     3.4                  delivery slow            Good
17  ORD1018     2.0                poor experience        Not Good
18  ORD1019     4.0                   satisfactory       Very Good
19  ORD1020     3.0                   okay service            Good
20  ORD1021     5.0             Very fast delivery       Very Good
21  ORD1022     2.0           delivery delay again        Not Good
22  ORD1023     4.0                         decent       Very Good
23  ORD1024     5.0                  great service       Very Good
24  ORD1025     1.0                cancelled again        Not Good
25  ORD1026     4.0                           good       Very Good
26  ORD1027     3.0                        average            Good
27  ORD1028     2.0                   bad delivery        Not Good
28  ORD1029     3.4                    no comments            Good
29  ORD1030     4.0                   good overall       Very Good

In [62]:
cust_fb_dt.columns

Index(['order_id', 'rating', 'feedback_text', 'rating_category'], dtype='object')

In [63]:
cust_fb_dt = cust_fb_dt[['order_id', 'rating', 'rating_category', 'feedback_text']]

In [64]:
cust_fb_dt

   order_id  rating rating_category                  feedback_text
0   ORD1001     5.0       Very Good  Quick delivery & good quality
1   ORD1002     2.0        Not Good       delivery was TOO late!!!
2   ORD1003     4.0       Very Good            Slight delay but ok
3   ORD1004     5.0       Very Good              Excellent service
4   ORD1005     1.0        Not Good         cancelled bcz of delay
5   ORD1006     4.0       Very Good                good experience
6   ORD1007     3.0            Good       Delivery could be faster
7   ORD1008     2.0        Not Good       Poor delivery experience
8   ORD1009     5.0       Very Good               Very satisfied
9   ORD1010     3.4            Good           Good overall service
10  ORD1011     4.0       Very Good                  Good delivery
11  ORD1012     2.0        Not Good             very late delivery
12  ORD1013     5.0       Very Good              Loved the service
13  ORD1014     4.0       Very Good                        On time
14  ORD1015     1.0        Not Good                order cancelled
15  ORD1016     5.0       Very Good                    Excellent
16  ORD1017     3.4            Good                  delivery slow
17  ORD1018     2.0        Not Good                poor experience
18  ORD1019     4.0       Very Good                   satisfactory
19  ORD1020     3.0            Good                   okay service
20  ORD1021     5.0       Very Good             Very fast delivery
21  ORD1022     2.0        Not Good           delivery delay again
22  ORD1023     4.0       Very Good                         decent
23  ORD1024     5.0       Very Good                  great service
24  ORD1025     1.0        Not Good                cancelled again
25  ORD1026     4.0       Very Good                           good
26  ORD1027     3.0            Good                        average
27  ORD1028     2.0        Not Good                   bad delivery
28  ORD1029     3.4            Good                    no comments
29  ORD1030     4.0       Very Good                   good overall

In [65]:
cust_fb_dt.isna().sum()

order_id           0
rating             0
rating_category    0
feedback_text      0
dtype: int64

In [66]:
# cust_fb_dt.to_csv('cleaned data/customer_feedback.csv',index=False)

customer_feedback table is cleaned, moving forward to the last table products

In [67]:
products_dt = pd.read_csv("raw data/products.csv")
products_dt.head(10)

  product_id       product_name       category       brand
0     PROD01            Milk 1L          dairy        Amul
1     PROD02         Bread loaf         Bakery   britannia
2     PROD03       Potato Chips         Snacks        Lays
3     PROD04       Fresh Apples         Fruits  Local farm
4     PROD05   Soft drink 500ml      beverages       Pepsi
5     PROD06  Basmati Rice 5 KG      Groceries  India gate
6     PROD07        Tooth paste  Personal care     Colgate
7     PROD08      Chocolate bar  Confectionary     Cadbury
8     PROD09     Cooking Oil 1L        grocery     Fortune
9     PROD10         Curd 500 G          Dairy        AMUL

In [68]:
products_dt.isna().sum()

product_id      0
product_name    0
category        0
brand           0
dtype: int64

In [69]:
products_dt['product_name'] = products_dt['product_name'].str.title()

In [70]:
products_dt['brand'] = products_dt['brand'].str.title()

In [71]:
products_dt['category'] = products_dt['category'].str.title()

In [72]:
products_dt

   product_id       product_name       category       brand
0      PROD01            Milk 1L          Dairy        Amul
1      PROD02         Bread Loaf         Bakery   Britannia
2      PROD03       Potato Chips         Snacks        Lays
3      PROD04       Fresh Apples         Fruits  Local Farm
4      PROD05   Soft Drink 500Ml      Beverages       Pepsi
5      PROD06  Basmati Rice 5 Kg      Groceries  India Gate
6      PROD07        Tooth Paste  Personal Care     Colgate
7      PROD08      Chocolate Bar  Confectionary     Cadbury
8      PROD09     Cooking Oil 1L        Grocery     Fortune
9      PROD10         Curd 500 G          Dairy        Amul
10     PROD11        Brown Bread         Bakery   Britannia
11     PROD12    Orange Juice 1L      Beverages   Tropicana
12     PROD13            Bananas         Fruits  Local Farm
13     PROD14       Almonds 250G     Dry Fruits        Tata
14     PROD15          Green Tea      Beverages      Lipton
15     PROD16          Sugar 1Kg        Grocery        Tata
16     PROD17           Salt 1Kg        Grocery        Tata
17     PROD18          Ice Cream         Frozen        Amul
18     PROD19        Paneer 200G          Dairy        Amul
19     PROD20       Cookies Pack         Bakery   Britannia
20     PROD21            Shampoo  Personal Care        Dove
21     PROD22           Soap Bar  Personal Care         Lux
22     PROD23           Atta 5Kg      Groceries  Aashirvaad
23     PROD24         Tea Powder      Beverages    Tata Tea
24     PROD25         Cornflakes      Breakfast    Kelloggs
25     PROD26        Butter 500G          Dairy        Amul
26     PROD27      Cheese Slices          Dairy        Amul
27     PROD28         Jam Bottle         Bakery      Kissan
28     PROD29            Noodles         Snacks       Maggi
29     PROD30     Tomato Ketchup        Grocery      Kissan

In [73]:
# products_dt.to_csv("cleaned data/products.csv",index=False)

So all the tables are cleaned now!!

In [74]:
# merge order, order_items, customer_feedback, delivery_performance

merge_order_order_items_dt = pd.merge(order_dt,order_items_dt,how='left',on='order_id')
merge_order_order_items_dt

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD01,2.0,120.00,140.00
1,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD02,1.0,180.00,200.00
2,ORD1002,CUST202,2024-01-05,Mumbai,Cancel,Credit Card,430.00,PROD03,3.0,90.00,100.00
3,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73,PROD04,2.0,250.00,280.00
4,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00,PROD01,1.0,120.00,140.00
5,ORD1005,CUST205,2024-01-07,Bangalore,Cancelled,Debitcard,310.00,PROD05,2.0,70.00,80.00
6,ORD1006,CUST206,2024-01-07,Pune,Completed,UPI,760.00,PROD06,1.0,300.00,330.00
7,ORD1007,CUST207,2024-01-08,Mumbai,Completed,Credit Card,890.00,PROD02,2.0,180.00,200.00
8,ORD1008,CUST208,2024-01-08,None,Cancel,UPI,450.00,PROD03,1.0,90.00,100.00
9,ORD1009,CUST209,2024-01-09,Hyderabad,Completed,Cash,670.00,PROD04,1.0,164.64,280.00
10,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,621.73,NaN,NaN,NaN,NaN
11,ORD1011,CUST211,2024-01-10,Bangalore,Completed,UPI,720.00,PROD01,1.0,120.00,140.00
12,ORD1012,CUST212,2024-01-10,Mumbai,Cancelled,Creditcard,560.00,PROD03,2.0,90.00,100.00
13,ORD1013,CUST213,2024-01-11,Delhi,Completed,Cash,890.00,PROD04,2.0,250.00,280.00
14,ORD1014,CUST214,2024-01-11,Hyderabad,Complete,UPI,430.00,PROD02,1.0,180.00,200.00
15,ORD1015,CUST215,2024-01-12,Bangalore,Cancel,Debit Card,621.73,PROD05,2.0,70.00,80.00
16,ORD1016,CUST216,2024-01-12,Pune,Completed,UPI,610.00,PROD06,1.0,300.00,330.00
17,ORD1017,CUST217,2024-01-13,Mumbai,Completed,Credit Card,980.00,PROD02,2.0,180.00,200.00
18,ORD1018,CUST218,2024-01-13,Delhi,Cancelled,UPI,350.00,PROD03,1.0,164.64,100.00
19,ORD1019,CUST219,2024-01-14,Hyderabad,Completed,Cash,770.00,PROD04,1.0,250.00,280.00
20,ORD1020,CUST220,2024-01-14,Pune,Completed,Debitcard,690.00,PROD01,3.0,120.00,140.00
21,ORD1021,CUST221,2024-01-15,Bangalore,Completed,UPI,540.00,PROD05,2.0,70.00,80.00
22,ORD1022,CUST222,2024-01-15,Mumbai,Cancel,UPI,410.00,PROD03,3.0,90.00,100.00
23,ORD1023,CUST223,2024-01-16,Delhi,Completed,Cash,860.00,PROD06,1.0,300.00,330.00
24,ORD1024,CUST224,2024-01-16,Hyderabad,Completed,UPI,590.00,PROD02,2.0,180.00,200.00
25,ORD1025,CUST225,2024-01-17,Bangalore,Cancelled,Credit Card,300.00,PROD01,1.0,120.00,140.00
26,ORD1026,CUST226,2024-01-17,Pune,Completed,Debit Card,740.00,PROD04,1.0,250.00,280.00
27,ORD1027,CUST227,2024-01-18,Mumbai,Completed,Cash,920.00,PROD03,2.0,90.00,100.00
28,ORD1028,CUST228,2024-01-18,Delhi,Cancelled,UPI,480.00,PROD05,1.0,70.00,164.64
29,ORD1029,CUST229,2024-01-19,Hyderabad,Completed,Cash,621.73,PROD06,1.0,300.00,330.00
30,ORD1030,CUST230,2024-01-19,Pune,Completed,UPI,650.00,PROD02,1.0,180.00,200.00

In [75]:
merge_order_order_items_dt.shape

(31, 11)

In [76]:
merge_order_order_items_del_per_dt = pd.merge(merge_order_order_items_dt,del_per_dt,on='order_id',how='left')
merge_order_order_items_del_per_dt

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp,promised_time_mins,actual_time_mins,delivery_partner_rating
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD01,2.0,120.00,140.00,30,28,5.0
1,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD02,1.0,180.00,200.00,30,28,5.0
2,ORD1002,CUST202,2024-01-05,Mumbai,Cancel,Credit Card,430.00,PROD03,3.0,90.00,100.00,25,40,2.0
3,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73,PROD04,2.0,250.00,280.00,30,32,4.0
4,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00,PROD01,1.0,120.00,140.00,20,18,5.0
5,ORD1005,CUST205,2024-01-07,Bangalore,Cancelled,Debitcard,310.00,PROD05,2.0,70.00,80.00,25,45,1.0
6,ORD1006,CUST206,2024-01-07,Pune,Completed,UPI,760.00,PROD06,1.0,300.00,330.00,30,29,4.0
7,ORD1007,CUST207,2024-01-08,Mumbai,Completed,Credit Card,890.00,PROD02,2.0,180.00,200.00,35,38,3.3
8,ORD1008,CUST208,2024-01-08,None,Cancel,UPI,450.00,PROD03,1.0,90.00,100.00,20,42,2.0
9,ORD1009,CUST209,2024-01-09,Hyderabad,Completed,Cash,670.00,PROD04,1.0,164.64,280.00,25,24,5.0
10,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,621.73,NaN,NaN,NaN,NaN,30,27,4.0
11,ORD1011,CUST211,2024-01-10,Bangalore,Completed,UPI,720.00,PROD01,1.0,120.00,140.00,30,35,3.0
12,ORD1012,CUST212,2024-01-10,Mumbai,Cancelled,Creditcard,560.00,PROD03,2.0,90.00,100.00,25,40,2.0
13,ORD1013,CUST213,2024-01-11,Delhi,Completed,Cash,890.00,PROD04,2.0,250.00,280.00,30,28,4.0
14,ORD1014,CUST214,2024-01-11,Hyderabad,Complete,UPI,430.00,PROD02,1.0,180.00,200.00,20,22,4.0
15,ORD1015,CUST215,2024-01-12,Bangalore,Cancel,Debit Card,621.73,PROD05,2.0,70.00,80.00,25,50,1.0
16,ORD1016,CUST216,2024-01-12,Pune,Completed,UPI,610.00,PROD06,1.0,300.00,330.00,30,29,5.0
17,ORD1017,CUST217,2024-01-13,Mumbai,Completed,Credit Card,980.00,PROD02,2.0,180.00,200.00,35,36,3.3
18,ORD1018,CUST218,2024-01-13,Delhi,Cancelled,UPI,350.00,PROD03,1.0,164.64,100.00,20,45,2.0
19,ORD1019,CUST219,2024-01-14,Hyderabad,Completed,Cash,770.00,PROD04,1.0,250.00,280.00,25,26,4.0
20,ORD1020,CUST220,2024-01-14,Pune,Completed,Debitcard,690.00,PROD01,3.0,120.00,140.00,30,31,3.0
21,ORD1021,CUST221,2024-01-15,Bangalore,Completed,UPI,540.00,PROD05,2.0,70.00,80.00,30,27,5.0
22,ORD1022,CUST222,2024-01-15,Mumbai,Cancel,UPI,410.00,PROD03,3.0,90.00,100.00,25,39,2.0
23,ORD1023,CUST223,2024-01-16,Delhi,Completed,Cash,860.00,PROD06,1.0,300.00,330.00,30,30,4.0
24,ORD1024,CUST224,2024-01-16,Hyderabad,Completed,UPI,590.00,PROD02,2.0,180.00,200.00,20,19,5.0
25,ORD1025,CUST225,2024-01-17,Bangalore,Cancelled,Credit Card,300.00,PROD01,1.0,120.00,140.00,25,48,1.0
26,ORD1026,CUST226,2024-01-17,Pune,Completed,Debit Card,740.00,PROD04,1.0,250.00,280.00,30,30,4.0
27,ORD1027,CUST227,2024-01-18,Mumbai,Completed,Cash,920.00,PROD03,2.0,90.00,100.00,35,37,3.0
28,ORD1028,CUST228,2024-01-18,Delhi,Cancelled,UPI,480.00,PROD05,1.0,70.00,164.64,20,41,2.0
29,ORD1029,CUST229,2024-01-19,Hyderabad,Completed,Cash,621.73,PROD06,1.0,300.00,330.00,25,33,3.0
30,ORD1030,CUST230,2024-01-19,Pune,Completed,UPI,650.00,PROD02,1.0,180.00,200.00,30,28,4.0

In [77]:
merge_order_order_items_del_per_dt.shape

(31, 14)

In [78]:
final_merge_dt = pd.merge(merge_order_order_items_del_per_dt,cust_fb_dt,on='order_id',how='left')
final_merge_dt

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp,promised_time_mins,actual_time_mins,delivery_partner_rating,rating,rating_category,feedback_text
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD01,2.0,120.00,140.00,30,28,5.0,5.0,Very Good,Quick delivery & good quality
1,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD02,1.0,180.00,200.00,30,28,5.0,5.0,Very Good,Quick delivery & good quality
2,ORD1002,CUST202,2024-01-05,Mumbai,Cancel,Credit Card,430.00,PROD03,3.0,90.00,100.00,25,40,2.0,2.0,Not Good,delivery was TOO late!!!
3,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73,PROD04,2.0,250.00,280.00,30,32,4.0,4.0,Very Good,Slight delay but ok
4,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00,PROD01,1.0,120.00,140.00,20,18,5.0,5.0,Very Good,Excellent service
5,ORD1005,CUST205,2024-01-07,Bangalore,Cancelled,Debitcard,310.00,PROD05,2.0,70.00,80.00,25,45,1.0,1.0,Not Good,cancelled bcz of delay
6,ORD1006,CUST206,2024-01-07,Pune,Completed,UPI,760.00,PROD06,1.0,300.00,330.00,30,29,4.0,4.0,Very Good,good experience
7,ORD1007,CUST207,2024-01-08,Mumbai,Completed,Credit Card,890.00,PROD02,2.0,180.00,200.00,35,38,3.3,3.0,Good,Delivery could be faster
8,ORD1008,CUST208,2024-01-08,None,Cancel,UPI,450.00,PROD03,1.0,90.00,100.00,20,42,2.0,2.0,Not Good,Poor delivery experience
9,ORD1009,CUST209,2024-01-09,Hyderabad,Completed,Cash,670.00,PROD04,1.0,164.64,280.00,25,24,5.0,5.0,Very Good,Very satisfied
10,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,621.73,NaN,NaN,NaN,NaN,30,27,4.0,3.4,Good,Good overall service
11,ORD1011,CUST211,2024-01-10,Bangalore,Completed,UPI,720.00,PROD01,1.0,120.00,140.00,30,35,3.0,4.0,Very Good,Good delivery
12,ORD1012,CUST212,2024-01-10,Mumbai,Cancelled,Creditcard,560.00,PROD03,2.0,90.00,100.00,25,40,2.0,2.0,Not Good,very late delivery
13,ORD1013,CUST213,2024-01-11,Delhi,Completed,Cash,890.00,PROD04,2.0,250.00,280.00,30,28,4.0,5.0,Very Good,Loved the service
14,ORD1014,CUST214,2024-01-11,Hyderabad,Complete,UPI,430.00,PROD02,1.0,180.00,200.00,20,22,4.0,4.0,Very Good,On time
15,ORD1015,CUST215,2024-01-12,Bangalore,Cancel,Debit Card,621.73,PROD05,2.0,70.00,80.00,25,50,1.0,1.0,Not Good,order cancelled
16,ORD1016,CUST216,2024-01-12,Pune,Completed,UPI,610.00,PROD06,1.0,300.00,330.00,30,29,5.0,5.0,Very Good,Excellent
17,ORD1017,CUST217,2024-01-13,Mumbai,Completed,Credit Card,980.00,PROD02,2.0,180.00,200.00,35,36,3.3,3.4,Good,delivery slow
18,ORD1018,CUST218,2024-01-13,Delhi,Cancelled,UPI,350.00,PROD03,1.0,164.64,100.00,20,45,2.0,2.0,Not Good,poor experience
19,ORD1019,CUST219,2024-01-14,Hyderabad,Completed,Cash,770.00,PROD04,1.0,250.00,280.00,25,26,4.0,4.0,Very Good,satisfactory
20,ORD1020,CUST220,2024-01-14,Pune,Completed,Debitcard,690.00,PROD01,3.0,120.00,140.00,30,31,3.0,3.0,Good,okay service
21,ORD1021,CUST221,2024-01-15,Bangalore,Completed,UPI,540.00,PROD05,2.0,70.00,80.00,30,27,5.0,5.0,Very Good,Very fast delivery
22,ORD1022,CUST222,2024-01-15,Mumbai,Cancel,UPI,410.00,PROD03,3.0,90.00,100.00,25,39,2.0,2.0,Not Good,delivery delay again
23,ORD1023,CUST223,2024-01-16,Delhi,Completed,Cash,860.00,PROD06,1.0,300.00,330.00,30,30,4.0,4.0,Very Good,decent
24,ORD1024,CUST224,2024-01-16,Hyderabad,Completed,UPI,590.00,PROD02,2.0,180.00,200.00,20,19,5.0,5.0,Very Good,great service
25,ORD1025,CUST225,2024-01-17,Bangalore,Cancelled,Credit Card,300.00,PROD01,1.0,120.00,140.00,25,48,1.0,1.0,Not Good,cancelled again
26,ORD1026,CUST226,2024-01-17,Pune,Completed,Debit Card,740.00,PROD04,1.0,250.00,280.00,30,30,4.0,4.0,Very Good,good
27,ORD1027,CUST227,2024-01-18,Mumbai,Completed,Cash,920.00,PROD03,2.0,90.00,100.00,35,37,3.0,3.0,Good,average
28,ORD1028,CUST228,2024-01-18,Delhi,Cancelled,UPI,480.00,PROD05,1.0,70.00,164.64,20,41,2.0,2.0,Not Good,bad delivery
29,ORD1029,CUST229,2024-01-19,Hyderabad,Completed,Cash,621.73,PROD06,1.0,300.00,330.00,25,33,3.0,3.4,Good,no comments
30,ORD1030,CUST230,2024-01-19,Pune,Completed,UPI,650.00,PROD02,1.0,180.00,200.00,30,28,4.0,4.0,Very Good,good overall

In [79]:
final_merge_dt.shape

(31, 17)

In [80]:
final_merge_dt.to_csv('cleaned data/merge_dt.csv',index=False)

tables merged

Let's do some findings

In [81]:
cust_fb_dt.head()

  order_id  rating rating_category                  feedback_text
0  ORD1001     5.0       Very Good  Quick delivery & good quality
1  ORD1002     2.0        Not Good       delivery was TOO late!!!
2  ORD1003     4.0       Very Good            Slight delay but ok
3  ORD1004     5.0       Very Good              Excellent service
4  ORD1005     1.0        Not Good         cancelled bcz of delay

In [82]:
cust_fb_dt[cust_fb_dt.duplicated()]

Empty DataFrame
Columns: [order_id, rating, rating_category, feedback_text]
Index: []

In [83]:
cust_fb_dt['order_id'].count()

np.int64(30)

In [84]:
cust_fb_dt.groupby('rating_category').size().sort_values(ascending=False)

rating_category
Very Good    15
Not Good      9
Good          6
dtype: int64

In [85]:
final_merge_dt.head()

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp,promised_time_mins,actual_time_mins,delivery_partner_rating,rating,rating_category,feedback_text
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD01,2.0,120.0,140.0,30,28,5.0,5.0,Very Good,Quick delivery & good quality
1,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD02,1.0,180.0,200.0,30,28,5.0,5.0,Very Good,Quick delivery & good quality
2,ORD1002,CUST202,2024-01-05,Mumbai,Cancel,Credit Card,430.00,PROD03,3.0,90.0,100.0,25,40,2.0,2.0,Not Good,delivery was TOO late!!!
3,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73,PROD04,2.0,250.0,280.0,30,32,4.0,4.0,Very Good,Slight delay but ok
4,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00,PROD01,1.0,120.0,140.0,20,18,5.0,5.0,Very Good,Excellent service

In [86]:
final_merge_dt['customer_id'].size

31

In [87]:
final_merge_dt[final_merge_dt.duplicated()]

Empty DataFrame
Columns: [order_id, customer_id, order_date, city, order_status, payment_method, order_value, product_id, quantity, selling_price, mrp, promised_time_mins, actual_time_mins, delivery_partner_rating, rating, rating_category, feedback_text]
Index: []

In [88]:
final_merge_dt.head()

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp,promised_time_mins,actual_time_mins,delivery_partner_rating,rating,rating_category,feedback_text
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD01,2.0,120.0,140.0,30,28,5.0,5.0,Very Good,Quick delivery & good quality
1,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD02,1.0,180.0,200.0,30,28,5.0,5.0,Very Good,Quick delivery & good quality
2,ORD1002,CUST202,2024-01-05,Mumbai,Cancel,Credit Card,430.00,PROD03,3.0,90.0,100.0,25,40,2.0,2.0,Not Good,delivery was TOO late!!!
3,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73,PROD04,2.0,250.0,280.0,30,32,4.0,4.0,Very Good,Slight delay but ok
4,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00,PROD01,1.0,120.0,140.0,20,18,5.0,5.0,Very Good,Excellent service

In [89]:
final_merge_dt.groupby('order_date').size().sort_values(ascending=False).head(5)

order_date
2024-01-05    3
2024-01-06    2
2024-01-07    2
2024-01-08    2
2024-01-09    2
dtype: int64

In [90]:
final_merge_dt.groupby('city')[['quantity','selling_price']].sum().sort_values(by='selling_price',ascending=False)

           quantity  selling_price
city
Hyderabad       7.0        1194.64
Pune            7.0        1150.00
Delhi           7.0        1034.64
Bangalore      11.0         750.00
Mumbai         14.0         720.00
None            1.0          90.00

In [91]:
final_merge_dt.isna().sum()

order_id                   0
customer_id                0
order_date                 0
city                       0
order_status               0
payment_method             0
order_value                0
product_id                 1
quantity                   1
selling_price              1
mrp                        1
promised_time_mins         0
actual_time_mins           0
delivery_partner_rating    0
rating                     0
rating_category            0
feedback_text              0
dtype: int64

In [92]:
final_merge_dt.dropna(inplace=True)

In [93]:
final_merge_dt['city'].unique()

array(['Bangalore', 'Mumbai', 'Delhi', 'Hyderabad', 'Pune', 'None'],
      dtype=object)

In [94]:
final_merge_dt[final_merge_dt['city'] =='None']

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp,promised_time_mins,actual_time_mins,delivery_partner_rating,rating,rating_category,feedback_text
8,ORD1008,CUST208,2024-01-08,None,Cancel,UPI,450.0,PROD03,1.0,90.0,100.0,20,42,2.0,2.0,Not Good,Poor delivery experience

In [95]:
final_merge_dt.iloc[8]

order_id                                    ORD1008
customer_id                                 CUST208
order_date                      2024-01-08 00:00:00
city                                           None
order_status                                 Cancel
payment_method                                  UPI
order_value                                   450.0
product_id                                   PROD03
quantity                                        1.0
selling_price                                  90.0
mrp                                           100.0
promised_time_mins                               20
actual_time_mins                                 42
delivery_partner_rating                         2.0
rating                                          2.0
rating_category                            Not Good
feedback_text              Poor delivery experience
Name: 8, dtype: object

In [96]:
final_merge_dt = final_merge_dt.drop(index=8)

In [97]:
final_merge_dt.shape

(29, 17)

In [98]:
final_merge_dt['city'].unique()

array(['Bangalore', 'Mumbai', 'Delhi', 'Hyderabad', 'Pune'], dtype=object)

In [99]:
final_merge_dt.groupby('city')[['quantity','selling_price']].sum().sort_values(by='selling_price',ascending=False)

           quantity  selling_price
city
Hyderabad       7.0        1194.64
Pune            7.0        1150.00
Delhi           7.0        1034.64
Bangalore      11.0         750.00
Mumbai         14.0         720.00

In [100]:
final_merge_dt.head()

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp,promised_time_mins,actual_time_mins,delivery_partner_rating,rating,rating_category,feedback_text
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD01,2.0,120.0,140.0,30,28,5.0,5.0,Very Good,Quick delivery & good quality
1,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD02,1.0,180.0,200.0,30,28,5.0,5.0,Very Good,Quick delivery & good quality
2,ORD1002,CUST202,2024-01-05,Mumbai,Cancel,Credit Card,430.00,PROD03,3.0,90.0,100.0,25,40,2.0,2.0,Not Good,delivery was TOO late!!!
3,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73,PROD04,2.0,250.0,280.0,30,32,4.0,4.0,Very Good,Slight delay but ok
4,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00,PROD01,1.0,120.0,140.0,20,18,5.0,5.0,Very Good,Excellent service

In [101]:
final_merge_dt.groupby(['order_status','payment_method'])['payment_method'].count()

order_status  payment_method
Cancel        Credit Card       1
              Debit Card        1
              UPI               1
Cancelled     Credit Card       1
              Creditcard        1
              Debitcard         1
              UPI               2
Complete      UPI               1
Completed     Cash              7
              Credit Card       2
              Debit Card        1
              Debitcard         1
              UPI               9
Name: payment_method, dtype: int64

In [102]:
final_merge_dt['payment_method'].unique()

array(['UPI', 'Credit Card', 'Cash', 'Debitcard', 'Creditcard',
       'Debit Card'], dtype=object)

In [103]:
final_merge_dt['payment_method']=final_merge_dt['payment_method'].str.replace('Debitcard','Debit Card').str.replace('Creditcard','Credit Card')

In [104]:
final_merge_dt['payment_method'].unique()

array(['UPI', 'Credit Card', 'Cash', 'Debit Card'], dtype=object)

In [105]:
final_merge_dt.groupby(['order_status','payment_method'])['payment_method'].count()

order_status  payment_method
Cancel        Credit Card       1
              Debit Card        1
              UPI               1
Cancelled     Credit Card       2
              Debit Card        1
              UPI               2
Complete      UPI               1
Completed     Cash              7
              Credit Card       2
              Debit Card        2
              UPI               9
Name: payment_method, dtype: int64

In [106]:
final_merge_dt['order_status'].unique()

array(['Completed', 'Cancel', 'Cancelled', 'Complete'], dtype=object)

In [107]:
final_merge_dt['order_status'] = final_merge_dt['order_status'].str.replace('Completed','Complete').str.replace('Cancelled','Cancel')

In [108]:
final_merge_dt['order_status'].unique()

array(['Complete', 'Cancel'], dtype=object)

In [109]:
final_merge_dt['order_status'] = final_merge_dt['order_status'].str.replace('Complete','Completed').str.replace('Cancel','Cancelled')

In [110]:
final_merge_dt['order_status'].unique()

array(['Completed', 'Cancelled'], dtype=object)

In [111]:
final_merge_dt.groupby(['order_status','payment_method'])['payment_method'].count()

order_status  payment_method
Cancelled     Credit Card        3
              Debit Card         2
              UPI                3
Completed     Cash               7
              Credit Card        2
              Debit Card         2
              UPI               10
Name: payment_method, dtype: int64

In [112]:
final_merge_dt.groupby(['order_status', 'payment_method']).agg(
    order_count=('payment_method', 'count'),
    total_selling_price=('selling_price', 'sum')
).sort_values(by='total_selling_price', ascending=False)

                             order_count  total_selling_price
order_status payment_method
Completed    UPI                      10              1750.00
             Cash                      7              1604.64
             Debit Card                2               370.00
             Credit Card               2               360.00
Cancelled    UPI                       3               324.64
             Credit Card               3               300.00
             Debit Card                2               140.00

In [113]:
final_merge_dt.to_csv('cleaned data/merge_dt.csv',index=False)

In [118]:
final_merge_dt.head()

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp,promised_time_mins,actual_time_mins,delivery_partner_rating,rating,rating_category,feedback_text
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD01,2.0,120.0,140.0,30,28,5.0,5.0,Very Good,Quick delivery & good quality
1,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD02,1.0,180.0,200.0,30,28,5.0,5.0,Very Good,Quick delivery & good quality
2,ORD1002,CUST202,2024-01-05,Mumbai,Cancelled,Credit Card,430.00,PROD03,3.0,90.0,100.0,25,40,2.0,2.0,Not Good,delivery was TOO late!!!
3,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73,PROD04,2.0,250.0,280.0,30,32,4.0,4.0,Very Good,Slight delay but ok
4,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00,PROD01,1.0,120.0,140.0,20,18,5.0,5.0,Very Good,Excellent service

In [125]:
final_merge_dt['time_different_mins'] = final_merge_dt['promised_time_mins'] - final_merge_dt['actual_time_mins']

In [121]:
final_merge_dt.columns

Index(['order_id', 'customer_id', 'order_date', 'city', 'order_status',
       'payment_method', 'order_value', 'product_id', 'quantity',
       'selling_price', 'mrp', 'promised_time_mins', 'actual_time_mins',
       'delivery_partner_rating', 'rating', 'rating_category', 'feedback_text',
       'time_different'],
      dtype='object')

In [126]:
final_merge_dt = final_merge_dt[['order_id', 'customer_id', 'order_date', 'city', 'order_status',
       'payment_method', 'order_value', 'product_id', 'quantity',
       'selling_price', 'mrp', 'promised_time_mins', 'actual_time_mins','time_different_mins',
       'delivery_partner_rating', 'rating', 'rating_category', 'feedback_text']]

In [127]:
final_merge_dt.head()

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp,promised_time_mins,actual_time_mins,time_different_mins,delivery_partner_rating,rating,rating_category,feedback_text
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD01,2.0,120.0,140.0,30,28,2,5.0,5.0,Very Good,Quick delivery & good quality
1,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD02,1.0,180.0,200.0,30,28,2,5.0,5.0,Very Good,Quick delivery & good quality
2,ORD1002,CUST202,2024-01-05,Mumbai,Cancelled,Credit Card,430.00,PROD03,3.0,90.0,100.0,25,40,-15,2.0,2.0,Not Good,delivery was TOO late!!!
3,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73,PROD04,2.0,250.0,280.0,30,32,-2,4.0,4.0,Very Good,Slight delay but ok
4,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00,PROD01,1.0,120.0,140.0,20,18,2,5.0,5.0,Very Good,Excellent service

In [143]:
del_on_time = len(final_merge_dt[final_merge_dt['time_different_mins'] >= 0])

In [141]:
del_is_late = len(final_merge_dt[final_merge_dt['time_different_mins'] < 0])

In [162]:
del_on_time_per = str(round(
    (((del_on_time + del_is_late) - del_on_time) / (del_on_time + del_is_late)) * 100,
    2
))+'%'

In [161]:
del_is_late_per = str(round(
    (((del_on_time + del_is_late) - del_is_late) / (del_on_time + del_is_late)) * 100,
    2
))+'%'

In [163]:
del_is_late_per

'41.38%'

In [164]:
del_on_time_per

'58.62%'

In [165]:
final_merge_dt.head()

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp,promised_time_mins,actual_time_mins,time_different_mins,delivery_partner_rating,rating,rating_category,feedback_text
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD01,2.0,120.0,140.0,30,28,2,5.0,5.0,Very Good,Quick delivery & good quality
1,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD02,1.0,180.0,200.0,30,28,2,5.0,5.0,Very Good,Quick delivery & good quality
2,ORD1002,CUST202,2024-01-05,Mumbai,Cancelled,Credit Card,430.00,PROD03,3.0,90.0,100.0,25,40,-15,2.0,2.0,Not Good,delivery was TOO late!!!
3,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73,PROD04,2.0,250.0,280.0,30,32,-2,4.0,4.0,Very Good,Slight delay but ok
4,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00,PROD01,1.0,120.0,140.0,20,18,2,5.0,5.0,Very Good,Excellent service

In [168]:
final_merge_dt.groupby('product_id').size().sort_values(ascending=False).head(3)

product_id
PROD02    6
PROD01    5
PROD03    5
dtype: int64

In [170]:
customers_dt.head()

  customer_id signup_date       city customer_type
0     CUST201  2023-08-12  Bangalore     Returning
1     CUST202  2024-01-02     Mumbai           New
2     CUST203  2023-10-18      Delhi     Returning
3     CUST204  2023-11-25  Hyderabad     Returning
4     CUST205  2024-01-04  Bangalore           New

In [171]:
customers_dt['city'].unique()

array(['Bangalore', 'Mumbai', 'Delhi', 'Hyderabad', 'Pune'], dtype=object)

In [175]:
customers_dt['city'].nunique()

5

In [176]:
customers_dt['customer_type'].unique()

array(['Returning', 'New'], dtype=object)

In [177]:
customers_dt['customer_type'].value_counts()

customer_type
Returning    18
New           9
Name: count, dtype: int64

In [190]:
"On time: " + del_on_time_per +'/n' + "Late: " + del_is_late_per

'On time: 58.62%/nLate: 41.38%'

In [192]:
final_merge_dt[final_merge_dt['time_different_mins'] < 0].groupby('city').size()

city
Bangalore    4
Delhi        3
Hyderabad    3
Mumbai       6
Pune         1
dtype: int64

In [ ]:
final_merge_dt[final_merge_dt['time_different_mins'] >= 0].groupby('city').size()

#show that there is 0 on time deliveries in Mumbai

city
Bangalore    3
Delhi        2
Hyderabad    3
Pune         4
dtype: int64

In [194]:
final_merge_dt.head()

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp,promised_time_mins,actual_time_mins,time_different_mins,delivery_partner_rating,rating,rating_category,feedback_text
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD01,2.0,120.0,140.0,30,28,2,5.0,5.0,Very Good,Quick delivery & good quality
1,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD02,1.0,180.0,200.0,30,28,2,5.0,5.0,Very Good,Quick delivery & good quality
2,ORD1002,CUST202,2024-01-05,Mumbai,Cancelled,Credit Card,430.00,PROD03,3.0,90.0,100.0,25,40,-15,2.0,2.0,Not Good,delivery was TOO late!!!
3,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73,PROD04,2.0,250.0,280.0,30,32,-2,4.0,4.0,Very Good,Slight delay but ok
4,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00,PROD01,1.0,120.0,140.0,20,18,2,5.0,5.0,Very Good,Excellent service

In [ ]:
final_merge_dt['customer_id'].value_counts()

customer_id
CUST201    2
CUST202    1
CUST203    1
CUST204    1
CUST205    1
CUST206    1
CUST207    1
CUST209    1
CUST211    1
CUST212    1
CUST213    1
CUST214    1
CUST215    1
CUST216    1
CUST217    1
CUST218    1
CUST219    1
CUST220    1
CUST221    1
CUST222    1
CUST223    1
CUST224    1
CUST225    1
CUST226    1
CUST227    1
CUST228    1
CUST229    1
CUST230    1
Name: count, dtype: int64

In [ ]:
final_merge_dt.groupby(['city','payment_method']).size()

city       payment_method
Bangalore  Credit Card       1
           Debit Card        2
           UPI               4
Delhi      Cash              3
           UPI               2
Hyderabad  Cash              3
           UPI               3
Mumbai     Cash              1
           Credit Card       4
           UPI               1
Pune       Debit Card        2
           UPI               3
dtype: int64

In [198]:
final_merge_dt.head()

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp,promised_time_mins,actual_time_mins,time_different_mins,delivery_partner_rating,rating,rating_category,feedback_text
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD01,2.0,120.0,140.0,30,28,2,5.0,5.0,Very Good,Quick delivery & good quality
1,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD02,1.0,180.0,200.0,30,28,2,5.0,5.0,Very Good,Quick delivery & good quality
2,ORD1002,CUST202,2024-01-05,Mumbai,Cancelled,Credit Card,430.00,PROD03,3.0,90.0,100.0,25,40,-15,2.0,2.0,Not Good,delivery was TOO late!!!
3,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73,PROD04,2.0,250.0,280.0,30,32,-2,4.0,4.0,Very Good,Slight delay but ok
4,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00,PROD01,1.0,120.0,140.0,20,18,2,5.0,5.0,Very Good,Excellent service

In [202]:
round(final_merge_dt['time_different_mins'].mean(),2)

np.float64(-5.72)

In [203]:
products_dt.head()

  product_id      product_name   category       brand
0     PROD01           Milk 1L      Dairy        Amul
1     PROD02        Bread Loaf     Bakery   Britannia
2     PROD03      Potato Chips     Snacks        Lays
3     PROD04      Fresh Apples     Fruits  Local Farm
4     PROD05  Soft Drink 500Ml  Beverages       Pepsi

In [204]:
products_dt.groupby('category').size()

category
Bakery           4
Beverages        4
Breakfast        1
Confectionary    1
Dairy            5
Dry Fruits       1
Frozen           1
Fruits           2
Groceries        2
Grocery          4
Personal Care    3
Snacks           2
dtype: int64

In [205]:
products_dt.groupby('brand').size()

brand
Aashirvaad    1
Amul          6
Britannia     3
Cadbury       1
Colgate       1
Dove          1
Fortune       1
India Gate    1
Kelloggs      1
Kissan        2
Lays          1
Lipton        1
Local Farm    2
Lux           1
Maggi         1
Pepsi         1
Tata          3
Tata Tea      1
Tropicana     1
dtype: int64

In [218]:
products_dt['category'].nunique()

11

In [215]:
products_dt['category']= products_dt['category'].replace('Groceries','Grocery')

In [224]:
products_dt.groupby(['category','brand']).size()

category       brand
Bakery         Britannia     3
               Kissan        1
Beverages      Lipton        1
               Pepsi         1
               Tata Tea      1
               Tropicana     1
Breakfast      Kelloggs      1
Confectionary  Cadbury       1
Dairy          Amul          5
Dry Fruits     Tata          1
Frozen         Amul          1
Fruits         Local Farm    2
Grocery        Aashirvaad    1
               Fortune       1
               India Gate    1
               Kissan        1
               Tata          2
Personal Care  Colgate       1
               Dove          1
               Lux           1
Snacks         Lays          1
               Maggi         1
dtype: int64

In [229]:
products_dt['brand'].value_counts().head(5)

brand
Amul          6
Britannia     3
Tata          3
Kissan        2
Local Farm    2
Name: count, dtype: int64

In [230]:
customers_dt.head()

  customer_id signup_date       city customer_type
0     CUST201  2023-08-12  Bangalore     Returning
1     CUST202  2024-01-02     Mumbai           New
2     CUST203  2023-10-18      Delhi     Returning
3     CUST204  2023-11-25  Hyderabad     Returning
4     CUST205  2024-01-04  Bangalore           New

In [237]:
import plotly.express as px

In [232]:
final_merge_dt.head()

,order_id,customer_id,order_date,city,order_status,payment_method,order_value,product_id,quantity,selling_price,mrp,promised_time_mins,actual_time_mins,time_different_mins,delivery_partner_rating,rating,rating_category,feedback_text
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD01,2.0,120.0,140.0,30,28,2,5.0,5.0,Very Good,Quick delivery & good quality
1,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00,PROD02,1.0,180.0,200.0,30,28,2,5.0,5.0,Very Good,Quick delivery & good quality
2,ORD1002,CUST202,2024-01-05,Mumbai,Cancelled,Credit Card,430.00,PROD03,3.0,90.0,100.0,25,40,-15,2.0,2.0,Not Good,delivery was TOO late!!!
3,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73,PROD04,2.0,250.0,280.0,30,32,-2,4.0,4.0,Very Good,Slight delay but ok
4,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00,PROD01,1.0,120.0,140.0,20,18,2,5.0,5.0,Very Good,Excellent service

In [239]:
fig = px.pie(
    final_merge_dt,
    names='order_status',
    values='selling_price',
    title='Sales Share by Order_status'
)
fig.show()

In [246]:
city_brand_cnt = (
    final_merge_dt
    .groupby('city')
    .size()
    .reset_index(name='count')
)

In [247]:
city_brand_cnt

        city  count
0  Bangalore      7
1      Delhi      5
2  Hyderabad      6
3     Mumbai      6
4       Pune      5

In [252]:
fig = px.bar(
    city_brand_cnt,
    x='city',
    y='count',
    title='City-wise order Count'
)
fig.show()

In [255]:
import plotly.graph_objects as go
fig = go.Figure(go.Indicator(
    mode="number",
    value=final_merge_dt['quantity'].sum(),
    title={"text": "Total Sales"}
))
fig.show()