In [1]:
import pandas as pd

In [2]:
order_dt = pd.read_csv("raw data/orders.csv")
order_dt.head(10)

,order_id,customer_id,order_date,city,order_status,payment_method,order_value
0,ORD1001,CUST201,05-01-2024,bangalore,completed,UPI,645.0
1,ORD1002,CUST202,2024/01/05,Mumbai,Cancel,credit card,430.0
2,ORD1003,CUST203,06-01-24,DELHI,Completed,CASH,NaN
3,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.0
4,ORD1005,CUST205,07-01-2024,Bangalore,CANCELLED,DebitCard,310.0
5,ORD1006,CUST206,2024-01-07,Pune,Completed,UPI,760.0
6,ORD1007,CUST207,08-01-2024,mumbai,Completed,Credit Card,890.0
7,ORD1008,CUST208,2024-01-08,NaN,cancel,upi,450.0
8,ORD1009,CUST209,09-01-2024,Hyderabad,Completed,Cash,670.0
9,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,NaN

In [3]:
order_dt.dtypes

order_id           object
customer_id        object
order_date         object
city               object
order_status       object
payment_method     object
order_value       float64
dtype: object

In [4]:
order_dt.head(10)

,order_id,customer_id,order_date,city,order_status,payment_method,order_value
0,ORD1001,CUST201,05-01-2024,bangalore,completed,UPI,645.0
1,ORD1002,CUST202,2024/01/05,Mumbai,Cancel,credit card,430.0
2,ORD1003,CUST203,06-01-24,DELHI,Completed,CASH,NaN
3,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.0
4,ORD1005,CUST205,07-01-2024,Bangalore,CANCELLED,DebitCard,310.0
5,ORD1006,CUST206,2024-01-07,Pune,Completed,UPI,760.0
6,ORD1007,CUST207,08-01-2024,mumbai,Completed,Credit Card,890.0
7,ORD1008,CUST208,2024-01-08,NaN,cancel,upi,450.0
8,ORD1009,CUST209,09-01-2024,Hyderabad,Completed,Cash,670.0
9,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,NaN

In [5]:
formats = (
    '%d-%m-%Y', '%d-%m-%y',
    '%Y-%m-%d', '%Y/%m/%d',
    '%d/%m/%Y'
)

def parse_date_safe(x):
    if pd.isna(x):
        return pd.NaT
    x = str(x)
    for f in formats:
        try:
            return pd.to_datetime(x, format=f)
        except ValueError:
            continue
    return pd.NaT

order_dt['order_date'] = order_dt['order_date'].apply(parse_date_safe)

In [6]:
order_dt['order_date'] = order_dt['order_date'].dt.normalize()

In [7]:
order_dt.head(10)

,order_id,customer_id,order_date,city,order_status,payment_method,order_value
0,ORD1001,CUST201,2024-01-05,bangalore,completed,UPI,645.0
1,ORD1002,CUST202,2024-01-05,Mumbai,Cancel,credit card,430.0
2,ORD1003,CUST203,2024-01-06,DELHI,Completed,CASH,NaN
3,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.0
4,ORD1005,CUST205,2024-01-07,Bangalore,CANCELLED,DebitCard,310.0
5,ORD1006,CUST206,2024-01-07,Pune,Completed,UPI,760.0
6,ORD1007,CUST207,2024-01-08,mumbai,Completed,Credit Card,890.0
7,ORD1008,CUST208,2024-01-08,NaN,cancel,upi,450.0
8,ORD1009,CUST209,2024-01-09,Hyderabad,Completed,Cash,670.0
9,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,NaN

In [8]:
order_dt.dtypes

order_id                  object
customer_id               object
order_date        datetime64[ns]
city                      object
order_status              object
payment_method            object
order_value              float64
dtype: object

In [9]:
order_dt.isna().sum()

order_id          0
customer_id       0
order_date        0
city              1
order_status      0
payment_method    0
order_value       4
dtype: int64

In [10]:
order_dt['city'].fillna('None',inplace=True)

C:\Users\MAHENDRA JAIN\AppData\Local\Temp\ipykernel_14392\2160214769.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  order_dt['city'].fillna('None',inplace=True)

In [11]:
order_dt.isna().sum()

order_id          0
customer_id       0
order_date        0
city              0
order_status      0
payment_method    0
order_value       4
dtype: int64

In [12]:
order_dt[order_dt['order_value'].isna()]

,order_id,customer_id,order_date,city,order_status,payment_method,order_value
2,ORD1003,CUST203,2024-01-06,DELHI,Completed,CASH,NaN
9,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,NaN
14,ORD1015,CUST215,2024-01-12,Bangalore,Cancel,Debit Card,NaN
28,ORD1029,CUST229,2024-01-19,Hyderabad,Completed,Cash,NaN

In [13]:
order_dt['order_value'].fillna(round(order_dt['order_value'].mean(),2),inplace=True)

C:\Users\MAHENDRA JAIN\AppData\Local\Temp\ipykernel_14392\3562052144.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  order_dt['order_value'].fillna(round(order_dt['order_value'].mean(),2),inplace=True)

In [14]:
order_dt.iloc[[2,9,14,28]]

,order_id,customer_id,order_date,city,order_status,payment_method,order_value
2,ORD1003,CUST203,2024-01-06,DELHI,Completed,CASH,621.73
9,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,621.73
14,ORD1015,CUST215,2024-01-12,Bangalore,Cancel,Debit Card,621.73
28,ORD1029,CUST229,2024-01-19,Hyderabad,Completed,Cash,621.73

In [18]:
order_dt.isna().sum()

order_id          0
customer_id       0
order_date        0
city              0
order_status      0
payment_method    0
order_value       0
dtype: int64

In [26]:
order_dt['city']= order_dt['city'].str.title()

In [27]:
order_dt['order_status']= order_dt['order_status'].str.title()

In [29]:
order_dt['payment_method']= order_dt['payment_method'].str.title()

In [32]:
order_dt['payment_method'] = order_dt['payment_method'].str.replace('Upi','UPI')

In [33]:
order_dt

,order_id,customer_id,order_date,city,order_status,payment_method,order_value
0,ORD1001,CUST201,2024-01-05,Bangalore,Completed,UPI,645.00
1,ORD1002,CUST202,2024-01-05,Mumbai,Cancel,Credit Card,430.00
2,ORD1003,CUST203,2024-01-06,Delhi,Completed,Cash,621.73
3,ORD1004,CUST204,2024-01-06,Hyderabad,Completed,UPI,520.00
4,ORD1005,CUST205,2024-01-07,Bangalore,Cancelled,Debitcard,310.00
5,ORD1006,CUST206,2024-01-07,Pune,Completed,UPI,760.00
6,ORD1007,CUST207,2024-01-08,Mumbai,Completed,Credit Card,890.00
7,ORD1008,CUST208,2024-01-08,None,Cancel,UPI,450.00
8,ORD1009,CUST209,2024-01-09,Hyderabad,Completed,Cash,670.00
9,ORD1010,CUST210,2024-01-09,Pune,Completed,Debit Card,621.73
10,ORD1011,CUST211,2024-01-10,Bangalore,Completed,UPI,720.00
11,ORD1012,CUST212,2024-01-10,Mumbai,Cancelled,Creditcard,560.00
12,ORD1013,CUST213,2024-01-11,Delhi,Completed,Cash,890.00
13,ORD1014,CUST214,2024-01-11,Hyderabad,Complete,UPI,430.00
14,ORD1015,CUST215,2024-01-12,Bangalore,Cancel,Debit Card,621.73
15,ORD1016,CUST216,2024-01-12,Pune,Completed,UPI,610.00
16,ORD1017,CUST217,2024-01-13,Mumbai,Completed,Credit Card,980.00
17,ORD1018,CUST218,2024-01-13,Delhi,Cancelled,UPI,350.00
18,ORD1019,CUST219,2024-01-14,Hyderabad,Completed,Cash,770.00
19,ORD1020,CUST220,2024-01-14,Pune,Completed,Debitcard,690.00
20,ORD1021,CUST221,2024-01-15,Bangalore,Completed,UPI,540.00
21,ORD1022,CUST222,2024-01-15,Mumbai,Cancel,UPI,410.00
22,ORD1023,CUST223,2024-01-16,Delhi,Completed,Cash,860.00
23,ORD1024,CUST224,2024-01-16,Hyderabad,Completed,UPI,590.00
24,ORD1025,CUST225,2024-01-17,Bangalore,Cancelled,Credit Card,300.00
25,ORD1026,CUST226,2024-01-17,Pune,Completed,Debit Card,740.00
26,ORD1027,CUST227,2024-01-18,Mumbai,Completed,Cash,920.00
27,ORD1028,CUST228,2024-01-18,Delhi,Cancelled,UPI,480.00
28,ORD1029,CUST229,2024-01-19,Hyderabad,Completed,Cash,621.73
29,ORD1030,CUST230,2024-01-19,Pune,Completed,UPI,650.00

In [35]:
order_dt.to_csv('cleaned data/order.csv',index=False)